*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary:#42a2b3;
    --red:#bb2d2d;
    --gray:rgb(177, 169, 169);
    
}
.container{
    margin: auto;
    width: 80%;
}
h2{
text-align: center;
font-size: 30px;
margin-top:50px ;
margin-bottom: 30px;

}
input[type="text"]
{
    width:100%;
    padding: 10px;
    border:1px solid var(--gray)
    /* margin-bottom: 20px; */
}
.btn{
 width:100%;
 padding: 10px;
 border: none;
 margin-bottom: 20px;
 background-color: var(--primary);
 color: white;
 font-size: 15px;
 margin-top: 20px;
 transition: 0.5s ease-in-out 1ms;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icon{
    background-color: var(--primary);
    padding:10px ;
    width: 40px;
    i{
        color: white;
    }
    
}
form{
    border: 1px solid rgb(177, 169, 169);
    padding: 20px 40px 0px 40px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 30px;
}
.btnRed{
    .btn{
        background-color: var(--red);
    }
}
.grid.btnRed{
    grid-template-columns: 1fr 1fr;
}
table {
      border-collapse: separate;
      border-spacing: 0 15px;  
      width: 100%;

      th{
      text-align: center;
      padding: 10px;
    }

    td {
      background-color: #fdfdfd; 
      padding: 10px;
      text-align: center;
    }
    tbody tr {
      box-shadow: 0 0 0 2px black; 
      border-radius: 8px;
    }


    }


 .btn:hover {
  transform: translateY(5px);
}